<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.powerscout">
    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:permissionGroup="android.permission-group.NOTIFICATIONS"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_power"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_power"
        android:supportsRtl="true"
        android:theme="@style/Theme.PowerScout"
        tools:targetApi="31">
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".TermsConditionActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".EnergySavingActivity"
            android:exported="false" />
        <activity
            android:name=".complete_info3"
            android:exported="false" />
        <activity
            android:name=".complete_info2"
            android:exported="false" />
        <activity
            android:name=".complete_info1"
            android:exported="false" />
        <activity
            android:name=".activity_update_info2"
            android:exported="false" />
        <activity
            android:name=".activity_update_info1"
            android:exported="false" />
        <activity
            android:name=".activity_update_info3"
            android:exported="false" />
        <activity
            android:name=".NavigationContent"
            android:exported="false" />
        <activity
            android:name=".DrawerHeader"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- SplashActivity is the launcher activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity should be the first screen after SplashActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PowerScout" /> <!-- Other activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Register1Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Register2Activity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true" />
        <service
            android:name=".ConsumptionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>